@font-face {
    font-family: 'Balgruf';
    src: url('Balgruf.woff2') format('woff2'),
        url('Balgruf.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

